In [1]:
a = 20
b = 20
c = a*b
print(c)

400

In [3]:
from keyword import kwlist
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [6]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [7]:
p = print('hi')
print(p)

hi
None

In [8]:
# Bitwise operators are
  13<<3

IndentationError: unexpected indent (3370976340.py, line 2)

In [9]:
13<<3

104

In [10]:
13*3

39

In [13]:
a = 10
b = 20
c = 10
print(id(a),id(b),id(c))

2658431664656 2658431664976 2658431664656

In [12]:
a is c

True

In [15]:
t = [4,6,'gatik','go',3.44]
type(t)

list

In [16]:
t = (4,6,'gatik','go',3.44)
type(t)

tuple

In [17]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [18]:
s = 'A sample pythom statement'
s

'A sample pythom statement'

In [19]:
len(s)

25

In [20]:
# for finding the particular index 
s[5]

'p'

In [21]:
s[-3]

'e'

In [22]:
# slicing s[start:stop:(not included): stepsize]
####### s[0:     end:   +1] 
######3 s[end :  0:  -ve]
s[2:8:1]

'sample'

In [28]:
s[-11:-17:-1]

'mohtyp'

In [29]:
s[:-10:-1]

'tnemetats'

In [30]:
s[::-1]

'tnemetats mohtyp elpmas A'

In [31]:
# Dictionary
d = {'a':34,'b': 45,'c': [3,4,5,6,7]}

In [32]:
d['c'][2]

5

In [33]:
d1 = [{ 'a': 34},66,{'66': [{'0':[98,'hi']},'awesome', {'m':'n'}]}]

In [46]:
d1[2]['66'][1][1]

'w'

In [58]:
d1[2]['66'][0]['0'][0]

98

In [2]:
n=0
bool(n)

False

In [4]:
d = 'hello'

In [5]:
d.upper()

'HELLO'

In [6]:
'hi      '.strip()

'hi'

In [7]:
d.strip('oh')

'ell'

In [8]:
"Star".join("wars")

'wStaraStarrStars'

In [9]:
'-'.join('wasr')

'w-a-s-r'

In [11]:
'_'.join('hithisis a new string')

'h_i_t_h_i_s_i_s_ _a_ _n_e_w_ _s_t_r_i_n_g'

In [12]:
'#'.join('hithis is a new string'.split())

'hithis#is#a#new#string'

In [13]:
d.count('l')

2

In [20]:
x = 20
y = 30
#format specifiers Depricated
# z = 'One new thing from %d to %d hai'%(x,y)
z
#usinfg format function
z = 'Ek aisa data jo {} to {} hai'
z = z.format(x,y)
z

'Ek aisa data jo 20 to 30 hai'

In [26]:
# using f-string
f'anything'
zf = f'Ek =aisa data jo {x} to {y} hai lekin {x} hi kaafi hai'
zf

'Ek =aisa data jo 20 to 30 hai lekin 20 hi kaafi hai'

In [37]:
c = [78,'hello',54.5]
type(c)

list

In [29]:
# 1. No input and no output args 
# 2. Input args byt not output args 
# 3. No input but Output args are there
# 4. Both are there

In [31]:
c.count(78)

1

In [38]:
help(c.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [40]:
c1 = ['hi', 'wow','good','yes']
c1.sort()
c1

['good', 'hi', 'wow', 'yes']

In [44]:
c.sort(reverse = True)
c

TypeError: '<' not supported between instances of 'str' and 'float'

In [47]:
c1.sort(key=len,reverse = True)
c1

['good', 'wow', 'yes', 'hi']

In [50]:
f = (23,78.5,45)
f

('gatik', 23, 78.5, 45, 'hii')

In [54]:
f = (43,56,47,554)
tuple(sorted(f,reverse = True))

(554, 56, 47, 43)

In [57]:
g = {'a':'hello,45'}
type(g.keys())

dict_keys(['a', 'g1'])

In [59]:
list(g.keys())[0]

'a'

In [61]:
g['gatik'] = 78
g

{'a': 'hello,45', 'g1': 56, 'gatik': 78}

In [62]:
g.get('hi',44)

44

In [63]:
# deep copy vs shallow copy

{'a': 'hello,45', 'g1': 56, 'gatik': 78}

In [64]:
e = [34,56,33,77,88]
e

[34, 56, 33, 77, 88]

In [65]:
e3 = e
e3

[34, 56, 33, 77, 88]

In [66]:
e3.append(55)
e3

[34, 56, 33, 77, 88, 55]

In [67]:
e

[34, 56, 33, 77, 88, 55]

In [68]:
e4 = e.copy()
e4.append(77)
e4

[34, 56, 33, 77, 88, 55, 77]

In [69]:
e

[34, 56, 33, 77, 88, 55]

In [70]:
# Actual Programing
# 1.Logics
# 2. Classes
# 3. Librarys
# 4. Loops

2.0

In [74]:
# Suits on python
#########################
# statement
#    content
#    






a = 10
    if(a<100):):
if(a<20):
    print("Every thing is okaty")
        print('Everything sis not fine')
    print('Something is wrong')
elif(a<-20):
    print('Just go for it')
else:
    print('Are you okay')
print("Bye everyone")

Every thing is okaty
Everything sis not fine
Something is wrong
Bye everyone

In [2]:
a = 20
while a>0:
    print('hi everyonr',a)
    a -=3
    if(a == 11):
        break
    if(a<10):
        continue
    print('one more')

hi everyonr 20
one more
hi everyonr 17
one more
hi everyonr 14

In [4]:
# for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
for-each
for obj in collection:
    pass

range()

SyntaxError: cannot assign to expression (946368539.py, line 1)

In [2]:
a = [4,'hi','nice',35]
b = []
for i in range(len(a)):
    b.append(a[i]*2)
b

[8, 'hihi', 'nicenice', 70]

In [3]:
a = [4,'hi','nice',35]
b = []
for val in a:
 b.append(val*2)   
b

[8, 'hihi', 'nicenice', 70]

In [4]:
# Comprehension
## For-Loop Statements which are of linear
#LLsit comprehension
#    [output for-loop]
# Dictionary comprehension
# {key_op:value_op for loop   }
# Set Comp
# Generator Comp
b = [val*3 for val in a]
b

[12, 'hihihi', 'nicenicenice', 105]

In [6]:
k = [4,3,5,3,6,7,9,8,6,4,]
k[0] % 2 == 0

True

In [20]:
p = [val for val in k if val % 2 == 0]
p

[]

In [23]:
k = [13,15,17,23,98,88,66,54,25,55,79,29,99]
k

[13, 15, 17, 23, 98, 88, 66, 54, 25, 55, 79, 29, 99]

In [13]:
[val for val in k if val % 2 and val >10]

[13, 15, 17, 23, 25, 55, 79, 29, 99]

In [16]:
p = []
for val in k:
    if val%2 == 0:
        p.append(val//2)
    else:
        p.append(val*2)

In [17]:
# Do this if-cond else ye wala lar dena

In [24]:
p = [val * 2 if val % 2 == 1 else val//2 for val in k]
p

[26, 30, 34, 46, 49, 44, 33, 27, 50, 110, 158, 58, 198]

In [26]:
[
 val*2 if val % 2 == 1 else (val//2 if val<20 else val)
 for val in k
]

[26, 30, 34, 46, 98, 88, 66, 54, 50, 110, 158, 58, 198]

In [28]:
m = {val:val**2 for val in k if val % 2 == 0}
m

{98: 9604, 88: 7744, 66: 4356, 54: 2916}

In [30]:
for key,value in m.items():
    print(key,value)

98 9604
88 7744
66 4356
54 2916

In [31]:
# USer define function
#####

In [33]:
def function_ka_naam():
   print('Please print something')

In [34]:
function_ka_naam()

Please print something

In [35]:
help(function_ka_naam)

Help on function function_ka_naam in module __main__:

function_ka_naam()

In [36]:
a = 10
while a>5:
    pass
print("ji")
print("hanji")

KeyboardInterrupt:

In [37]:
def ekor(ekvalue,dusrivalue):
    return ekvalue*dusrivalue

In [38]:
ekor(7,8)

56

In [39]:
def merimarzi(ekvalue,dusrivalue)
  print('kuch bhi')
  return(ekvalue*dusrivalue)+ ekvalue

SyntaxError: expected ':' (3807232875.py, line 1)

In [40]:
meriMarzi(dusriValue=10,ekValue=10)

NameError: name 'meriMarzi' is not defined

In [41]:
def kuchor(x = 10,*v):
    return [i*x for i in v]

In [42]:
kuchor(4,5,7)

[20, 28]

In [43]:
def kuchor(x = 10,*v,**u):
    return [i*x for i in v],u

In [44]:
kuchor(4,5,7)

([20, 28], {})

In [45]:
kuchor(4,5,7, somedata = [3,4,5,6])

([20, 28], {'somedata': [3, 4, 5, 6]})